/***************
 * progressbar *
 ***************/
.progressbar,
.progressbar row,
.progressbar row:hover,
.progressbar row:selected,
.progressbar row:selected:focus {
    background-image: url("assets/progress.png");
    background-repeat: repeat-x;
}

.progressbar.vertical {
    background-image: url("assets/progress-vertical.png");
    background-repeat: repeat-y;
}

/*******************
 * check and radio *
 *******************/
/* draw regular check and radio items using our assets */
.check,
.check row:selected,
.check row:selected:focus {
    -gtk-icon-source: url("assets/checkbox-unchecked.png");
}

.check:insensitive,
.check row:selected:insensitive,
.check row:selected:focus:insensitive {
    -gtk-icon-source: url("assets/checkbox-unchecked-insensitive.png");
}

.check:active, .check:checked,
.check row:selected:active,
.check row:selected:focus:active, .check row:selected:focus:checked {
    -gtk-icon-source: url("assets/checkbox-checked.png");
}

.check:active:insensitive, .check:checked:insensitive,
.check row:selected:active:insensitive, .check row:selected:checked:insensitive,
.check row:selected:focus:active:insensitive, .check row:selected:focus:checked:insensitive {
    -gtk-icon-source: url("assets/checkbox-checked-insensitive.png");
}

.check:inconsistent,
.check row:selected:inconsistent,
.check row:selected:focus:inconsistent {
    -gtk-icon-source: url("assets/checkbox-mixed.png");
}

.check:inconsistent:insensitive,
.check row:selected:inconsistent:insensitive,
.check row:selected:focus:inconsistent:insensitive {
    -gtk-icon-source: url("assets/checkbox-mixed-insensitive.png");
}

.radio,
.radio row:selected,
.radio row:selected:focus {
    -gtk-icon-source: url("assets/radio-unselected.png");
}

.radio:insensitive,
.radio row:selected:insensitive,
.radio row:selected:focus:insensitive {
    -gtk-icon-source: url("assets/radio-unselected-insensitive.png");
}

.radio:active, .radio:checked,
.radio row:selected:active, .radio row:selected:checked,
.radio row:selected:focus:active, .radio row:selected:focus:checked {
    -gtk-icon-source: url("assets/radio-selected.png");
}

.radio:active:insensitive, .radio:checked:insensitive,
.radio row:selected:active:insensitive, .radio row:selected:checked:insensitive,
.radio row:selected:focus:active:insensitive, .radio row:selected:focus:checked:insensitive {
    -gtk-icon-source: url("assets/radio-selected-insensitive.png");
}

.radio:inconsistent,
.radio row:selected:inconsistent,
.radio row:selected:focus:inconsistent {
    -gtk-icon-source: url("assets/radio-mixed.png");
}

.radio:inconsistent:insensitive,
.radio row:selected:inconsistent:insensitive,
.radio row:selected:focus:inconsistent:insensitive {
    -gtk-icon-source: url("assets/radio-mixed-insensitive.png");
}

.menuitem.check:active, .menuitem.check:checked {
    -gtk-icon-source: url("assets/menuitem-checkbox-checked.png");
}

.menuitem.check:active:hover, .menuitem.check:checked:hover {
    -gtk-icon-source: url("assets/menuitem-checkbox-checked-selected.png");
}

.menuitem.check:active:insensitive, .menuitem.check:checked:insensitive {
    -gtk-icon-source: url("assets/menuitem-checkbox-checked-insensitive.png");
}

.menuitem.check:inconsistent:hover,
.menuitem.radio:inconsistent:hover {
    -gtk-icon-source: url("assets/menuitem-checkbox-mixed-selected.png");
}

.menuitem.check:inconsistent,
.menuitem.radio:inconsistent {
    -gtk-icon-source: url("assets/menuitem-checkbox-mixed.png");
}

.menuitem.check:inconsistent:insensitive,
.menuitem.radio:inconsistent:insensitive {
    -gtk-icon-source: url("assets/menuitem-checkbox-mixed-insensitive.png");
}

.menuitem.radio:active, .menuitem.radio:checked {
    -gtk-icon-source: url("assets/menuitem-radio-checked.png");
}

.menuitem.radio:active:hover, .menuitem.radio:checked:hover {
    -gtk-icon-source: url("assets/menuitem-radio-checked-selected.png");
}

.menuitem.radio:active:insensitive, .menuitem.radio:checked:insensitive {
    -gtk-icon-source: url("assets/menuitem-radio-checked-insensitive.png");
}

GtkIconView.content-view.cell.check {
    -gtk-icon-source: url("assets/grid-selection-unchecked.png");
}

GtkIconView.content-view.cell.check:active, GtkIconView.content-view.cell.check:checked {
    -gtk-icon-source: url("assets/grid-selection-checked.png");
}
